data/
mnist/
imdb/
glove.6B.100d.txt
flight/
speech/
mini_speech_commands/
mini_speech_commands_kaggle/
Data_TwoPatterns/
twopattern/
Speech_dataset/mini_speech_commands.zip
TIMIT_dataset/timit/
timit/
